topbar {
    background-color:#00008bd8;
    width: 100%;
    height: 12vh;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 40px;
}
navi{
    display: flex;
    float: left;
    background-color: #0071c5;
    height: 80vh;
    width: 20%;
    flex-direction: column;
}
content1{
    display: flex;
    float: left;
    justify-content: center;
    width: 100%;
}

content{
    display: flex;
    background: linear-gradient(to bottom right, #0055c5, #389de0);
    height:80vh;
    width: 80%;
    float: left;
    justify-content: center;
}

#clear{
    clear:both;
}

question{
    display: flex;
    margin:10px;
    
    margin-left: auto;
    margin-right:auto;
    flex-direction: column;
    width: 255px;
}

warning{
    display: flex;

}

footer{
    background-color: #00008bd8;
    width: 100%;
    height: 8vh;
    display: block;
}

form{
    display: flex;
    flex-direction: column;
}
body{
    margin:0px;
}

#header{
    margin: 5px;
}

#text{
    margin: 3px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

a{
    cursor: pointer;
}


